<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ONLINE_FLIGHT_RESERVATION_SYSTEM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>admin.Admin_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/admin.admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Amin_Logout</display-name>
    <servlet-name>Amin_Logout</servlet-name>
    <servlet-class>admin.Amin_Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Amin_Logout</servlet-name>
    <url-pattern>/Amin_Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFlightDeteails</display-name>
    <servlet-name>DeleteFlightDeteails</servlet-name>
    <servlet-class>admin.DeleteFlightDeteails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFlightDeteails</servlet-name>
    <url-pattern>/DeleteFlightDeteails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>user.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>user.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Logout</display-name>
    <servlet-name>User_Logout</servlet-name>
    <servlet-class>user.User_Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Logout</servlet-name>
    <url-pattern>/User_Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_flight_details</display-name>
    <servlet-name>Update_flight_details</servlet-name>
    <servlet-class>admin.Update_flight_details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_flight_details</servlet-name>
    <url-pattern>/Update_flight_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_flight_schedule_details</display-name>
    <servlet-name>Update_flight_schedule_details</servlet-name>
    <servlet-class>admin.Update_flight_schedule_details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_flight_schedule_details</servlet-name>
    <url-pattern>/Update_flight_schedule_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_flight_details</display-name>
    <servlet-name>Add_flight_details</servlet-name>
    <servlet-class>admin.Add_flight_details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_flight_details</servlet-name>
    <url-pattern>/Add_flight_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSecheduledFlightDeteails</display-name>
    <servlet-name>DeleteSecheduledFlightDeteails</servlet-name>
    <servlet-class>admin.DeleteSecheduledFlightDeteails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSecheduledFlightDeteails</servlet-name>
    <url-pattern>/DeleteSecheduledFlightDeteails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Schedule_flight</display-name>
    <servlet-name>Schedule_flight</servlet-name>
    <servlet-class>admin.Schedule_flight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Schedule_flight</servlet-name>
    <url-pattern>/Schedule_flight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Block_User</display-name>
    <servlet-name>Block_User</servlet-name>
    <servlet-class>admin.Block_User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Block_User</servlet-name>
    <url-pattern>/Block_User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book_Flight</display-name>
    <servlet-name>Book_Flight</servlet-name>
    <servlet-class>admin.Book_Flight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book_Flight</servlet-name>
    <url-pattern>/Book_Flight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check_Availability</display-name>
    <servlet-name>Check_Availability</servlet-name>
    <servlet-class>user.Check_Availability</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check_Availability</servlet-name>
    <url-pattern>/Check_Availability</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Flight_Book</display-name>
    <servlet-name>Flight_Book</servlet-name>
    <servlet-class>user.Flight_Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Flight_Book</servlet-name>
    <url-pattern>/Flight_Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Unblock_User</display-name>
    <servlet-name>Unblock_User</servlet-name>
    <servlet-class>admin.Unblock_User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Unblock_User</servlet-name>
    <url-pattern>/Unblock_User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_User_Details</display-name>
    <servlet-name>Delete_User_Details</servlet-name>
    <servlet-class>admin.Delete_User_Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_User_Details</servlet-name>
    <url-pattern>/Delete_User_Details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Passengers_Info</display-name>
    <servlet-name>Passengers_Info</servlet-name>
    <servlet-class>user.Passengers_Info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Passengers_Info</servlet-name>
    <url-pattern>/Passengers_Info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment_process</display-name>
    <servlet-name>Payment_process</servlet-name>
    <servlet-class>user.Payment_process</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment_process</servlet-name>
    <url-pattern>/Payment_process</url-pattern>
  </servlet-mapping>
</web-app>